.header-logo  {
    display: flex;
    margin-top: -5;
    align-items: center;

&__image {
    display: block;
    margin-right: $gap/2;
}

&__title {
    display: block;
    margin-left: $gap /2;
    font-size: 1.875rem;;
}
}